*{
    font-family: sans-serif;
    font-size: 14px;
    margin:0px;
    padding:0px;
}

//ヘッダー共通項目
.common_header{
  display: flex;
  justify-content: space-between;
  background-color: indigo;
  height: 50px;
}

//ヘッダーリンク設定
.common_header a{
  color:white;
  line-height:50px;
  margin-left:10px;
  text-decoration: none;
}

.common_header a:last-child{
  margin-right: 10px;
}

//ルームの詳細画面
.room_show{
  border:1px solid black;
  border-radius: 30px;
}
